*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: white;
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 20px 50px;
    color: orangered;
    font-weight: 600px;
}
header nav a{
    text-decoration: none;
    color: black;
    margin: 10px 20px 5px ;
}
nav input{
    outline: none;
    border: none;
}
.search{
    background-color: rgb(210,212,210);
    padding: 10px 5px;
    width: 30%;
    border-radius: 30px;
}
.btn{
    padding: 7px 20px;
    border-radius: 20px;
    background-color: orangered;
    border: none;
    color: white;
}
.banner{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 60px 40px;
}
.banner-content{
    display: flex;
    gap: 40px;
    align-items: center;
}
.banner-text{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.banner-text h1{
    font-size: 2.1rem;
    color: orangered;
}
.banner-text p{
    margin: 10px 0 20px;
    font-size: 20px;
    text-align: left;
}
.btn-shop{
    text-decoration: none;
    padding: 12px 30px;
    background-color: orangered;
    color: white;
    border-radius: 10px;
    border: none;
}
.btn-shop:hover{
    background-color: rgb(255, 93, 29);
}
.banner-img{
    position: relative;
    left: 15px;
    right: 15px;
}
.product{
    padding: 50px;
    text-align: center;

}
.product h2{
    font-size: 30px;
    margin-bottom: 32px;
}
.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.product-content{
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.product-content img{
    width: 100%;
    border-radius: 20px;
    height: 220px;
    
}
.product-content h3{
    margin: 10px 0;
}
